@import url("./nix.css");

.control-center {
  background-color: @bg;
  border-left: 1px solid @border;
  padding: 0px;
  border-radius: 10px 0px 0px 10px;
  margin: 0px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.control-center-list {
  background: transparent;
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @bg-darker;
}

.notification-row {
  outline: none;
  margin: 0px;
  padding: 0px;
}

.notification-row:focus,
.notification-row:hover {
  background: @bg-hover;
}

.notification {
  background: @bg;
  border: 1px solid @border;
  border-radius: 6px;
  margin: 0px -2px 3px 0px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.critical {
  background-color: @red;
  border-bottom: 1px solid @red;
  border-radius: 6px;
}

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 6px;
}

.close-button {
  background: @bg-close;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 5px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @bg-close-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @bg-alt;
  border: 1px solid @border;
  /* color: @text-light; */
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @bg-hover;
}

.notification-default-action {
  border-radius: 6px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 6px;
}

.notification-action:last-child {
  border-bottom-right-radius: 6px;
  border-right: 1px solid @border;
}

.body-image {
  margin-top: 6px;
  background-color: @bg-dark;
  border-radius: 6px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @bg-darker;
  /* color: @text-light; */
  caret-color: @text-light;
  border: 1px solid @border;
  border-radius: 6px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @bg;
  border: 1px solid @border;
  border-radius: 6px;
  color: @text-light;
}

.inline-reply-button:disabled {
  background: initial;
  color: @grey-alt;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @bg-hover;
}

.image {
  border-radius: 0px;
  margin-right: 10px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  text-shadow: none;
}

.time {
  font-size: 12px;
  font-weight: 700;
  background: transparent;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-weight: normal;
  background: transparent;
  color: @text-light;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.floating-notifications {
  background: transparent;
}
/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/
/* title widget */

.widget-title {
  padding: 20px 10px 0 10px;
  margin: 0;
}

.widget-title label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.widget-title button {
  border: unset;
  background-color: unset;
  color: @grey-alt;
}

.widget-title button label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

.widget-title button:hover {
  color: @text-light;
}

.widget-title button:active {
  color: @text-light;
}
/* Mpris widget */
.widget-mpris {
  color: @text-light;
  background: @transparent;
  padding: 0px;
  margin: 0px 10px;
  border-radius: 6px;
}

.widget-mpris > box > button {
  border-radius: 6px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px 0px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Volume and Brightness Widget*/

.widget-backlight {
  background-color: @bg-alt;
  padding: 8px 16px 16px 16px;
  margin: 0px 15px 15px 15px;
  border-radius: 0px 0px 10px 10px;
}

.widget-volume {
  border-top: 1px solid @border;
  background-color: @bg-alt;
  padding: 16px 8px 8px 16px;
  margin: 10px 15px 0px 15px;
  border-radius: 10px 10px 0px 0px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.widget-buttons-grid {
  color: @blue;
  background-color: @transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @bg-hover;
  border: 1px solid @border;
  margin: 0px 6px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 16px;
  /* margin: 4px; */
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @bg-darker;
}

.topbar-buttons {
  padding: 5px;
  margin: 15px 10px 10px;
  font-size: 18px;
  background-color: @transparent;
}

.topbar-buttons > button {
  margin: 0 5px;
  padding: 8px 20px;
  color: @blue;
  background: @bg-alt;
  border-top: 1px solid @grey;
  border-radius: 30px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
}
.topbar-buttons > button:hover {
  background: @purple;
  color: @text-dark;
}
