@import url("./nix.css");

* {
  color: @text-light;
}

.control-center {
  background-color: @bg;
  border-left: 1px solid @grey;
  padding: 0px;
  border-radius: 0px;
  margin: 0px;
}

.control-center-list {
  background: transparent;
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @bg-darker;
}

.notification {
  border: 1px solid @bg-alt;
  border-radius: 4px;
  margin: 2px;
  box-shadow: none;
  padding: 0;
}

.critical {
  border: 1px solid @red;
}

.notification-content {
  background: transparent;
  padding: 4px;
  border-radius: 4px;
}

.close-button {
  background: @bg-close;
  color: @text-light;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @bg-close-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 2px;
  margin: 0;
  box-shadow: none;
  background: @bg-alt;
  border: 1px solid @grey;
  color: @text-light;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @bg-darker;
}

.notification-default-action {
  border-radius: 4px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}
/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 4px;
}
.notification-action:last-child {
  border-bottom-right-radius: 4px;
  border-right: 1px solid @grey;
}

.body-image {
  margin-top: 6px;
  background-color: @bg-dark;
  border-radius: 6px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @bg-darker;
  color: @text-light;
  caret-color: @text-light;
  border: 1px solid @grey;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @bg;
  border: 1px solid @grey;
  border-radius: 5px;
  color: @text-light;
}

.inline-reply-button:disabled {
  background: initial;
  color: @grey-alt;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @bg-hover;
}

.image {
  border-radius: 0px;
  margin-right: 10px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  text-shadow: none;
}

.time {
  font-size: 12px;
  font-weight: 700;
  background: transparent;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-weight: normal;
  background: transparent;
  color: @text-light;
  /* text-shadow: none; */
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.floating-notifications {
  background: transparent;
}
/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/
/* title widget */

.widget-title {
  padding: 16px;
  margin: unset;
}

.widget-title label {
  margin-left: 8px;
  font-size: 20px;
}

.widget-title button {
  border: unset;
  background-color: unset;
  color: @grey-alt;
  /* border-radius: 1.159rem; */
  /* -gtk-outline-radius: 1.159rem; */
  padding: 8px 8px;
  margin-right: 8px;
}

.widget-title button label {
  font-size: 12px;
  margin-right: 8px;
}

.widget-title button:hover {
  color: @grey-alt;
}

.widget-title button:active {
  color: @grey-alt;
}

/* Mpris widget */
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Volume and Brightness Widget*/

.widget-backlight {
  background-color: @bg-alt;
  padding: 8px 16px 16px 16px;
  margin: 0px 8px 8px 8px;
  border-radius: 0px 0px 15px 15px;
}

.widget-volume {
  background-color: @bg-alt;
  padding: 16px 8px 8px 16px;
  margin: 8px 8px 0px 8px;
  border-radius: 15px 15px 0px 0px;
}

.widget-buttons-grid {
  color: @blue;
  background-color: @transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @bg-hover;
  border: 1px solid @grey;
  margin: 0px 6px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 20px;
  /* margin: 4px; */
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @bg-darker;
}

.topbar-buttons {
  padding: 8px;
  margin: 8px;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  background-color: @bg-alt;
}
.topbar-buttons > button {
  padding: 6px 30px;
  background: @bg-alt;
  border-radius: 8px;
}
.topbar-buttons > button:hover {
  background: @bghover;
}
