@import url("./backlight.css");
@import url("./battery.css");
@import url("./clock.css");
@import url("./cpu.css");
@import url("./memory.css");
@import url("./mpris.css");
@import url("./network.css");
@import url("./pulseaudio.css");
@import url("./tray.css");
@import url("./niri.css");
@import url("./custom-autocpufreq.css");

@define-color border rgba(255, 255, 255, 0.1);

* {
  font-weight: bold;
  font-family: "Iosevka Aile, Symbols Nerd Font";
  font-size: 13px;
  padding: 0;
  min-height: 0;
  margin: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  border: none;
}
window#waybar {
  background: @background;
  border-left: 1px solid @border;
}
.modules-right,
.modules-left,
.modules-center {
  padding: 0px;
  margin: 8px 2px 10px;
}

tooltip {
  background: @background-alt;
  color: @text-light;
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid #101a24;
}

/* #custom-expand { */
/*   min-width: 25px; */
/*   color: #a1bdce; */
/*   font-size: 16px; */
/* } */
/**/
/* #group-minimized { */
/*   border-left: solid; */
/*   border-left-width: 0.5; */
/* } */
@keyframes blink {
  to {
    color: #4a4a4a;
  }
}
