#tray {
  border-radius: 10px;
}
#tray menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#tray menu * {
  min-height: 16px;
  font-weight: bold;
  /* font-size: 13px; */
  padding: 4px;
  /* color: #9488e3; */
}

#tray menu separator {
  min-height: 2px;
}
