prefer-no-csd
hotkey-overlay { skip-at-startup; }
include "config/animations.kdl"
include "config/binds.kdl"
include "config/input.kdl"
include "config/layout.kdl"
include "config/windows.kdl"
include "config/layers.kdl"
include "config/startup.kdl"
include "config/workspaces.kdl"
include "config/recent-windows.kdl"
include "nix.kdl"
