binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+T hotkey-overlay-title="Nix Search" { spawn-sh "footpad --title='Nix Search' --app-id=nix-search -- tv nix"; }
    Mod+D hotkey-overlay-title="App Launcher" { spawn "walker"; }
    Mod+Alt+L hotkey-overlay-title="Lock Screen"  allow-when-locked=true { spawn-sh "niri msg action do-screen-transition && hyprlock --immediate"; }
    Alt+Print hotkey-overlay-title="OCR" { spawn "ocr"; }
    Ctrl+Print hotkey-overlay-title="Print Screen to clipboard" { screenshot-screen write-to-disk=false; }
    Print hotkey-overlay-title="Print Screen and save" { screenshot-screen write-to-disk=true; }
    Mod+Ctrl+Print hotkey-overlay-title="Print Window to clipboard" { screenshot-window write-to-disk=false; }
    Mod+Print hotkey-overlay-title="Print Window and save" { screenshot-window; }
    Mod+Shift+Print hotkey-overlay-title="Free-form print to clipboard" { screenshot show-pointer=false; }
    Alt+Tab { focus-window-previous; }
    Mod+0 { focus-workspace 10; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+A { spawn "footpad" "--app-id=tmux" "--" "tmux-launch-session"; }
    Mod+B { spawn "footpad" "--title=Bluetooth" "--app-id=bluetui" "--" "bluetui"; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+F { toggle-windowed-fullscreen; }
    Mod+Delete { clear-dynamic-cast-target; }
    Mod+Down { focus-workspace-down; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { maximize-column; }
    Mod+H { focus-column-or-monitor-left; }
    Mod+Insert { set-dynamic-cast-window; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-or-monitor-right; }
    Mod+Left { focus-column-left; }
    Mod+M { spawn "footpad" "--title=SystemMonitor" "--app-id=btop" "--" "btop"; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+O { toggle-overview; }
    Mod+P { spawn "footpad" "--app-id=clipboard" "--title=Clipboard" "--" "cliphist-fzf-sixel"; }
    Mod+Period { expel-window-from-column; }
    Mod+Q { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Right { focus-column-right; }
    Mod+S { spawn "swaync-client" "-t" "-sw"; }
    Mod+Shift+0 { move-column-to-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+C { center-visible-columns; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { move-column-left-or-to-monitor-left; }
    Mod+Shift+Insert { set-dynamic-cast-monitor; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+L { move-column-right-or-to-monitor-right; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }
    Mod+Shift+Tab { focus-monitor-previous; }
    Mod+Slash { spawn-sh "pkill tofi || tofi-drun --drun-launch=true --prompt-text=Apps: "; }
    Mod+Space { toggle-window-floating; }
    Mod+Tab { focus-workspace-previous; }
    Mod+Up { focus-workspace-up; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+Y { spawn "footpad" "--app-id=yazi" "--" "yazi" "~"; }
    XF86AudioLowerVolume { spawn "swayosd-client" "--output-volume=lower"; }
    XF86AudioMicMute { spawn "swayosd-client" "--input-volume=mute-toggle"; }
    XF86AudioMute { spawn "swayosd-client" "--output-volume=mute-toggle"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioRaiseVolume { spawn "swayosd-client" "--output-volume=raise"; }
    XF86AudioStop { spawn "playerctl" "pause"; }
    XF86MonBrightnessDown { spawn "swayosd-client" "--brightness=lower"; }
    XF86MonBrightnessUp { spawn "swayosd-client" "--brightness=raise"; }
}
