layout {
    gaps 6
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    shadow {
        on
        offset x=0.000000 y=5.000000
        softness 30.000000
        spread 5.000000
        draw-behind-window false
        color "#00000070"
    }
    tab-indicator {
        hide-when-single-tab
        place-within-column
        gap -12.000000
        width 4.000000
        length total-proportion=0.100000
        position "left"
        gaps-between-tabs 10.000000
        corner-radius 20.000000
    }
    default-column-width { proportion 0.800000; }
    preset-column-widths {
        proportion 0.400000
        proportion 0.800000
        proportion 1.000000
    }
    preset-window-heights {
        proportion 0.500000
        proportion 1.000000
    }
    center-focused-column "never"
}
