output "HDMI-A-1" {
    variable-refresh-rate on-demand=true
    scale 1.0
    focus-at-startup
    transform "normal"
    position x=1920 y=0
    mode "1920x1080"
}
output "eDP-1" {
    scale 1.5
    transform "normal"
    position x=0 y=0
}
