// spawn-at-startup "systemctl" "--user" "reset-failed" "waybar.service"
// spawn-at-startup "hyprlock"
spawn-at-startup "foot" "--server"
spawn-at-startup "tmux" "start-server"

spawn-at-startup "brave" "--profile-directory=Personal" "--window-name=Personal"
window-rule {
    match app-id="brave-browser" title="^Personal$"
    open-on-workspace "personal"
}
spawn-at-startup "brave" "--profile-directory=Dev" "--window-name=Dev"
window-rule {
    match app-id="brave-browser" title="^Dev$"
    open-on-workspace "dev"
}
spawn-at-startup "brave" "--profile-directory=Chill" "--window-name=Chill"
window-rule {
    match app-id="brave-browser" title="^Chill$"
    open-on-workspace "chill"
}
