workspace "brain" {
  open-on-output "HDMI-A-1"
}
workspace "dev" {
  open-on-output "HDMI-A-1"
}
workspace "chill" {
  open-on-output "HDMI-A-1"
}
workspace "Main" {
  open-on-output "eDP-1"
  layout {
    default-column-width { proportion 1.0; }
    gaps 0
    border {
      off
    }
  }
}
// workspace "web" {
//   layout {
//     default-column-width { proportion 0.33333; }
//     focus-ring {
//         width 5
//         active-gradient from="#62BAF5" to="#8962F5" angle=45 relative-to="workspace-view"
//     }
//   }
//   open-on-output "HDMI-A-1"
// }

// workspace "nix" {
//   layout {
//     focus-ring {
//         width 5
//         active-gradient from="#f00f" to="#0f05" angle=45 in="oklch longer hue"
//     }
//   }
// }
//
// workspace "dev"
//
// workspace "chat" {
//   layout {
//     focus-ring {
//         width 5
//         active-color "#6A44B2"
//     }
//   }
// }
//
// workspace "work" {
//   layout {
//     focus-ring {
//         width 5
//         active-color "#6A44B2"
//     }
//   }
// }
