#power-profiles-daemon {
  margin: 0;
  padding: 0;
}
#power-profiles-daemon.performance {
  color: @red;
}
#power-profiles-daemon.balanced {
  color: @cyan;
}
#power-profiles-daemon.power-saver {
  color: @green;
}
