.git
.direnv
.devenv
*/static/
db_data
/result
/static/
/.devenv/
.mypy_cache
# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class
