* {
  font-weight: bold;
  font-family: "Iosevka Aile, Symbols Nerd Font";
  font-size: 13px;
}

@define-color border rgba(255, 255, 255, 0.1);
.control-center {
  background: @background;
  border-radius: 6px;
  border: 1px solid @border;
}
